__pycache__/
*.pyc
.venv/
.env

exports/
reference/
backups/
.tools/
tools/

Profile.save
sas_za4tool.log
config.toml
*.png

# Nuitka & PyInstaller build outputs
SASZA4Tool.exe
SASZA4Tool
SASZA4Tool-linux*
*.bin
*.build/
*.dist/
*.onefile-build/
build/
dist/